
body{
    background-image:url("https://www.coventry.ac.uk/globalassets/media/global/00-new-course-imagery/engineering-environment-and-computing/ug/data-science-new-banner.jpg");

    animation: slide 50s linear infinite;
}


@keyframes slide {
    0% { background-position: 0 0; }
    100% { background-position: -100% 0; }
}
h1,h2{
    text-align: center;
    size: 20px;
    color: white;
    padding: auto;
}
fieldset#username_pass{
    text-align: center;
    border: none;
    margin-bottom: 2px;
    display: block;
    color: white;
}
label{
    display: block;
}

input[type="submit"]{
    margin: auto;
    display: block;
    margin-top: 2px;
}
input[type="submit"]:hover{
    background-color: yellowgreen;
}


input[id="usname"] input[id="password"]{
    height: 30px;
    width: 150px;
}

.login{
    
    width: 80%;
    background-color: rgb(2, 9, 11);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
    position: relative;
    overflow: hidden;
}
.login::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 8px 8px rgb(194, 216, 240);
    filter: blur(10px);
    pointer-events: none;  /* To prevent this style from interfering with the functionality */
}
